.md-typeset h1 {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid grey
  }

ul.md-nav__list {
    position: fixed;
    inline-size: 200px;
    overflow-wrap: break-word;
} 
